@page "/"

<h3>University of Winnipeg [GL_ACCT App]</h3>
<p></p>
<MudCard>
    <MudCardContent>
        <MudText Typo="Typo.h5">Group by [GL ACCT NO]</MudText>
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        <MudText Typo="Typo.h5">Sum(Debit) Sum(Credit)</MudText>
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        <MudText Typo="Typo.h5">X-Fer To Xcel File</MudText>
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
    </MudCardContent>
    <MudCardActions>        
        <MudElement HtmlTag="a"
                    Class="ma-0"
                    Style="color:red;font-weight:bold;"
                    href="https://github.com/Ankithorizon/University-Admin"
                    target="blank"
                    rel="noopener noreferrer">
            Source-Code
        </MudElement>
    </MudCardActions>
</MudCard>

@code{

 
}




