@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Ankithorizon/University-Admin" target="_blank">Source</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />